body {
    margin: auto;
    background-image: url('image/baggrund.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}


#background_banner {
    position: fixed;
    left: 15%;
    background-color: white;
    width: 70%;
    height: 110vh;
    z-index: -1;
    opacity: 50%;
    top: 0;
}

/************************ FONTE *************************/
h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 1.8rem;
    color: blue;

    padding-top: 25vw;
    padding-bottom: 2vw;


    margin-top: 0vw;
    margin-bottom: 8vw;
    margin-left: 16vw;
    margin-right: 16vw;

    font-family: 'nuku_nukuregular';
    letter-spacing: 5px;

    border-bottom: solid 2px red;

}

h3 {
    font-family: 'nuku_nukuregular';
    letter-spacing: 5px;
    color: blue;
    font-size: 1.6rem;
    margin-bottom: 0.5vw;
}

p {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px
}

/************************ FONTE SLUT *************************/



/********************* NAV *********************/
nav {
    position: absolute;
    width: 100%;
    z-index: 5;
}

nav img {
    width: 5vw;
}


.background {
    position: relative;
    z-index: -4;
}

.background .image {
    /*    background-image: url(image/baggrund.png);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.background .banner {
    background-color: rgba(255, 255, 255, 0.65);
    height: 100vh;
    width: 75%;
    margin: auto;
}



.burger div {
    display: block;

    width: 25px;
    height: 3px;
    background-color: #1319A2;
    margin: 5px;
}


nav a {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
}


nav .nav_top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2vw;
    top: -1;
}

.logo {
    color: #ff2700;
    font-family: 'nuku_nukuregular';
}

.nav_right ul {
    list-style-type: none;
    color: #1319A2;

}

.nav_links {
    padding: 0;
}

.nav_right li {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;


    font-size: 1.5rem;

    margin-left: 16vw;
    margin-right: 16vw;

    border-bottom: solid 2px red;
    /*    background-color: white;*/


    z-index: 6;
}

.nav_right li a {
    color: #1319A2;
}

nav ul li:last-child {
    border-bottom: none;
}

.nav_right {
    /*
    background-image: url(image/baggrund.png);
    height: 100vh;
    z-index: 3;
*/
}


.hide {
    display: none;
}



/********************* NAV SLUT*********************/

/*********************** FOOTER MOBIL **************************/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: auto;
    padding-top: 2vw;

    width: 250px;

    font-family: 'Ubuntu', sans-serif;
}

footer .line {
    width: 250px;
    height: 2px;
    background-color: #ff2700;
    margin: 5px;
    margin: 0.5vw;

}

footer img {
    width: 25px;
    padding: 1vw;
}

footer .follow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .bottom {
    margin: 0;
}

footer .bottom h4 {
    display: flex;
    flex-direction: column;
    margin: 1;
    font-size: 0.9rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/*********************** FOOTER MOBIL SLUT **************************/


@media only screen and (min-width: 600px) {

    #background_banner {
        left: 10%;
        width: 80%;
    }


    /************************ FONTE *************************/
    h1 {


        padding-bottom: 0vw;



        margin-bottom: 2vw;

        border-bottom: none;

        font-size: 2.5rem;
        padding-top: 12vw;
    }

    /************************ FONTE SLUT *************************/

    /********************* NAV *********************/

    .background {
        display: none
    }

    .background .image {
        display: none;
    }

    .background .banner {
        display: none;
    }

    .burger div {
        display: none;
    }

    .hide {
        display: block;
        ;
    }


    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    nav .nav_top {
        padding: 0.5vw;
    }

    .nav_right li {
        padding-top: 0.5vw;
        padding-bottom: 0.5vw;
        padding-left: 2vw;
        padding-right: 2vw;

        font-size: 1.5rem;
        margin: 0;
        border-bottom: none;
        border-left: solid 2px #ff2700;


    }

    .nav_links {
        display: flex;
        flex-direction: row;
    }



    .nav_links a:hover {
        color: #ff2700;
    }

    nav li:first-child {
        border-left: none;
    }

    /********************* NAV SLUT*********************/

    /*********************** FOOTER **************************/

    footer {
        width: 700px;

    }

    footer .line {
        width: 500px;
    }

    footer img {
        width: 25px;
    }

    footer .bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        width: 600px;
    }

    /*********************** FOOTER SLUT **************************/
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    /*********************** FOOTER **************************/
    /*
    footer {
        width: 600px;
    }

    footer .line {
        width: 600px;
    }

    footer .bottom {
        width: 600px;
    }
*/

    /*********************** FOOTER SLUT **************************/
}
