#splash_video img {
    width: 100vw;
    margin: none;
    opacity: 100%;
    filter: grayscale(100%)
}

#splash_video .arrow {
    display: none;
}

/********************** ABOUT *************************/

#about {
    margin: 0;
}

#about h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-top: 2vw;
    margin-bottom: 0vw;
}

#about .col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

}

#about .col p {
    font-size: 1rem;
    max-width: 65%;
    justify-self: center;
}

#about .col .img {
    width: 200px;
    justify-self: center;
}

/********************** ABOUT SLUT *************************/

@media only screen and (min-width: 600px) {

    #splash_video .arrow {
        display: block;
    }

    #splash_video .arrow img {
        position: absolute;
        width: 4vw;
        left: 48%;
        top: 29%;
        z-index: 7;
        align-items: flex-end;

        filter: grayscale(0%)
    }

    /********************** ABOUT *************************/

    #about .col {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        max-width: 800px;
        margin: auto;
    }

    #about .col {
        align-items: center;
        padding-bottom: 2vw;
    }

    #about .col p {
        font-size: 1.1rem;
        max-width: 600px;
        padding: 2vw;

        grid-column: span 2;
    }

    #about .col .img {
        width: 250px;

    }

    #about .col p:nth-child(2n) {
        background-color: rgba(191, 101, 110, 0.79);
        color: #fff4e8;
    }

    /********************** ABOUT SLUT *************************/

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {


    /********************** ABOUT *************************/

    #about .col {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        max-width: 600px;
    }

    #about .col {
        padding-bottom: 2vw;
    }

    #about .col .img {
        width: 200px;
    }

    /********************** ABOUT SLUT *************************/
}


/******************* Animationer ********************/
.bouncing {
    top: 1vw;
    animation-name: bouncing_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    /*    animation-timing-function: ease-in;*/

}

@keyframes bouncing_kf {
    0% {
        transform: translateY(-13.5vw)
    }

    100% {
        transform: translateY(-12vw)
    }
}

/******************* Animationer slut ********************/
