/********************** INFO *************************/

#info {
    margin: 0;

    margin-left: 10vw;
    margin-right: 10vw;
}


#info h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'nuku_nukuregular';
    color: #1319A2;

    margin-top: 5vw;
    margin-bottom: 0vw;

}


#info .col {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    align-items: center;
}

#info .container p {
    max-width: 200px;
    justify-self: center;
    margin-top: 1vw;
}

#info .container .img {
    width: 200px;
    justify-self: center;
    margin-bottom: 5vw;
}

/********************** INFO SLUT *************************/

@media only screen and (min-width: 600px) {


    /********************** INFO *************************/

    #info .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        max-width: 900px;
        margin: auto;
    }

    #info .col {
        align-items: center;
        padding-bottom: 2vw;
    }



    #info .txt {
        padding: 2vw;

        display: flex;
        flex-direction: column;

        grid-column: span 2;
    }

    #info h2 {


        margin-top: 0vw;


    }

    #info .container p {
        max-width: 600px;

    }

    #info .col .img {
        width: 250px;
        margin-bottom: 2vw;

    }

    #info article:nth-child(2n) {
        direction: rtl;
    }

    #info article:nth-child(2n) .p {
        text-align: end;
        /*gør så teksten flugter til venstre kant blev endret med direction: rtl */

    }

    /********************** INFO SLUT *************************/
}
