/********************** kontakt (mobil) *************************/

#kontakt {
    margin: 0;

    margin-left: 10vw;
    margin-right: 10vw;
    /*    background: red;*/
}

#kontakt h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#kontakt article {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    max-width: 250px;
    margin: auto;

    /*
    margin-left: 10vw;
    margin-right: 10vw;
    background: red;
*/
}



#kontakt .col {


    max-width: 250px;
    margin: auto;


}


#kontakt .col p {
    font-size: 1rem;
    max-width: 200px;
    justify-self: center;
}

#kontakt .col .img {
    width: 200px;
    justify-self: center;
}

/********************** kontakt SLUT (mobil) *************************/


@media only screen and (min-width: 600px) {

    /********************** kontakt *************************/

    #kontakt article {
        display: grid;
        /*        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));*/

        grid-template-columns: minmax(300px, 1fr) minmax(500px, 1fr);
        max-width: 800px;
        margin: auto;
    }

    #kontakt .col {
        /*        padding-bottom: 2vw;*/
    }

    #kontakt .txt {
        margin: 0px;
        /*
padding: 2vw;
*/
    }

    #kontakt .col p {
        font-size: 1.1rem;
        max-width: 800px;



    }

    #kontakt .col .img {
        width: 250px;

    }

    #kontakt article:nth-child(2n) {
        direction: rtl;
/*        grid-template-columns: minmax(500px, 1fr) minmax(300px, 1fr);*/
    }

    #kontakt article:nth-child(2n) .p {
        text-align: end;
        /*gør så teksten flugter til venstre kant blev endret med direction: rtl */

    }

    /********************** ABOUT SLUT *************************/

}
