.img {
    object-fit: cover;
    width: 100%;
    max-height: auto;


}

/**************************** PLAKATER *******************************/
.container {
    max-width: 200px;
    margin: auto;
}

#gallery_wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    /*    grid-gap: 1.5rem;*/
    column-gap: 2rem;
    grid-row-gap: 1rem;


}


#gallery_wall article:nth-child(5n+1) {
    grid-column: span 2;
    grid-row: span 2;
}

#gallery_wall img {
    border: solid white 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery .txt_content {

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    opacity: 0%;
}


.gallery:hover .txt_content {
    opacity: 100%;
}

.gallery:hover img {
    opacity: 50%
}

.gallery h3 {
    visibility: hidden;

    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-size: 1.2rem;
    color: black;

}

.gallery p {
    display: none;
    font-size: 1.2rem;
    color: blue;


    font-family: 'nuku_nukuregular';
    letter-spacing: 5px;




}

/**************************** PLAKATER SLUT *******************************/


@media only screen and (min-width: 600px) {

    .container {
        max-width: 1200px;

/*        background-color: red;*/

    }

    #gallery_wall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        column-gap: 2rem;
        grid-row-gap: 1rem;

        margin-left: 13vw;
        margin-right: 13vw;

    }


    #gallery_wall article:nth-child(3n+1) {
        grid-column: span 2;
        grid-row: span 2;
    }


    .gallery h3 {
        visibility: visible;

        font-family: 'Ubuntu', sans-serif;
        letter-spacing: 0.5px;
        line-height: 22px;
        font-size: 1.3rem;
        color: black;


    }

    .gallery p {
        display: block;
        font-size: 1.5rem;
        color: blue;


        font-family: 'nuku_nukuregular';
        letter-spacing: 5px;




    }



    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

        .container {
            max-width: 590px;


        }

        #gallery_wall img {
            border: solid white 6px;
        }

        #gallery_wall {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1.5fr));

            /*            grid-auto-rows: repeat(auto-fill) 100px;*/

            grid-gap: 1.5rem;




        }


    }
