.img {
    object-fit: cover;
    width: 100%;
    max-height: auto;


}

.container {
    max-width: 200px;
    margin: auto;
}

#gallery_wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    /*    grid-template-rows: repeat(auto-fill, minmax(200px));*/
    /*    grid-template-rows: 200px;*/
    grid-gap: 1rem;


}

#gallery_wall article {
    /*
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
display: flex;
align-items: center;
justify-content: center;
*/

    /*    justify-items: stretch;*/

}


#gallery_wall article:nth-child(5n+2) {
    grid-column: span 2;
    grid-row: span 2;
}

#gallery_wall img {
    border: solid white 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery .txt_content {

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    opacity: 0%;
}


.gallery:hover .txt_content {
    opacity: 100%;
}

.gallery:hover img {
    opacity: 60%
}

.gallery h3 {
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
    line-height: 22px;
    font-size: 2rem;
    color: black;

}

.gallery p {

    font-size: 1.8rem;
    color: blue;


    font-family: 'nuku_nukuregular';
    letter-spacing: 5px;


}


@media only screen and (min-width: 600px) {

    .container {
        max-width: 850px;

    }

    #gallery_wall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1.5fr));

        grid-auto-rows: repeat(auto-fill) 150px;

        grid-gap: 1.7rem;
    }

    #gallery_wall img .img {
        /*
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        justify-items: stretch;
*/

    }

    #gallery_wall article:nth-child(5n+1) {
        grid-column: span 2;
        grid-row: span 2;
    }

}



@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .container {
        max-width: 590px;

    }

    #gallery_wall img {
        border: solid white 6px;
    }

    #gallery_wall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1.5fr));

        grid-auto-rows: repeat(auto-fill) 100px;

        grid-gap: 1.5rem;


    }


}
