img {
    width: 100%
}

/********************** GALLERY WALL (mobil) *************************/


#gallery_wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));

    margin: auto;

    margin-left: 14vw;
    margin-right: 14vw;
/*    background: red;*/


    justify-items: center;
}


#gallery_wall .gallery .img {

    width: 100px;


    border: solid 8px white;
}

#gallery_wall .gallery {}


#gallery_wall:nth-child(2n) {
    background-color: aqua;
}


/* TESTET NTH-CHILD MED FLEX I STEDET FOR GRID

#gallery_wall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: auto;

    margin-left: 14vw;
    margin-right: 14vw;


    justify-items: center;
}


#gallery_wall .gallery {
    padding: 1vw;

    max-width 100px;


}

#gallery_wall .gallery .img {

    width: 100px;


    border: solid 8px white;
}

#gallery_wall .img {}


#gallery_wall .gallery:nth-child(2n) {
    width: 1000px;
}


*/

/********************** GALLERY WALL SLUT (mobil) *************************/

@media only screen and (min-width: 600px) {

    /********************** GALLERY WALL  *************************/
    #gallery_wall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

        margin-left: 10vw;
        margin-right: 10vw;
    }

    #gallery_wall .gallery {
        margin: 0.5vw;
    }

    #gallery_wall .gallery .img {
        width: 250px;
        border: solid 12px white;
    }

    /********************** GALLERY WALL SLUT *************************/



}
