.no_show {
    display: none
}


/********************** MODAL (mobil) **************************/
.bestil_modal {


    font-family: 'Ubuntu', sans-serif;

    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 6;
}

.modal {
    position: relative;
    margin: 5vw auto;
    width: 70vw;
    height: 80vh;
    padding: 1vw;

    border: solid 4px #1319A2;

    background-color: white;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

}

.modal p {
    margin: 0.5vw;
    font-size: 0.8rem;
    line-height: 14px;

}

.modal h2 {
    justify-content: flex-start;

    font-size: 1.8rem;

    padding-top: 0vw;
    padding-bottom: 0vw;


    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-left: 0vw;
    margin-right: 0vw;

}

.modal .btn_close {
    border: none;
    background-color: white;
    position: absolute;
    right: 1vw;
    font-size: 1.2rem;
    color: #ff2700;
    padding-top: 0vw;

}

.modal .input {
    height: 6vw;
    width: 65vw;
    margin: 0.5vw;

    border: solid 2px #1319A2;

}

.modal .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal .btn_bestil {
    font-family: 'Ubuntu', sans-serif;

    background-color: #1319A2;
    padding: 1vw;
    margin: 1vw;
    color: white;
    font-size: 1.3rem;

    border: none;
    padding-left: 3vw;
    padding-right: 3vw;

}


/********************** MODAL (mobil) SLUT **************************/





img {
    width: 100%;
    height: auto;
}

/************************ TOP_CONTENT (MOBIL) ***************************/


#top_content {
    max-width: 200px;
    margin: auto;
    padding-top: 16vw;
}


h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: 1.5rem;
    color: #1319A2;

    font-family: 'nuku_nukuregular';
    letter-spacing: 1px;
}

#top_content .h2_2 {
    display: none
}

.breadcrumb {}

.breadcrumb a {
    text-decoration: none;
    color: #1319A2;
    font-family: 'Ubuntu', sans-serif;
}

.breadcrumb a:hover {
    color: #ff2700;
}

.white_backgrund {
    background-color: rgba(255, 255, 255, 0.69);
    padding: 3vw;
}

.pris {
    background-color: rgba(255, 255, 255, 0.69);
    padding: 3vw;

    display: flex;
    flex-direction: column;

    align-items: center;
}

#top_content .pris p {
    margin-top: 0px;
}

#top_content .fragt {
    padding: 3vw;
}

#top_content .fragt .overskrift {

    margin-bottom: 0px;

}

#top_content .fragt p {
    margin-top: 0px;
}


.button_bestil {
    font-family: 'Ubuntu', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #1319A2;
    padding: 1vw;
    color: white;
    font-size: 1.5rem;
    border: none;
    padding-left: 3vw;
    padding-right: 3vw;
}

.button_bestil:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in;
    cursor: pointer;
}

.button_bestil p {
    margin: 0vw;
}



/************************ TOP_CONTENT (MOBIL) SLUT ***************************/


/************************ BOTTOM_CONTENT (MOBIL) ***************************/


#bottom_content {
    max-width: 200px;
    margin: auto;
}

#bottom_content h2 {
    margin-top: 10vw;
    margin-bottom: 0vw;
}

#bottom_content p {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

/************************ BOTTOM_CONTENT (MOBIL) SLUT***************************/


@media only screen and (min-width: 600px) {

    /********************** MODAL (mobil) **************************/


    .modal {
        width: 50vw;

    }

    .modal p {
        font-size: 0.9rem;
        line-height: 18px;
        margin: 0vw;

    }

    .modal h2 {
        font-size: 2rem;
    }

    .modal .input {
        height: 3vw;
        width: 48vw;
        margin: 0.2vw;

        border: solid 2px #1319A2;

    }

    .modal .flex {
        display: flex;
        flex-direction: row;
        width: 49vw;
        /*        width: vw;*/

    }

    /********************** MODAL SLUT **************************/

    /************************ TOP_CONTENT ***************************/


    #top_content {
        max-width: 1200px;
        padding-top: 10vw;
    }

    #top_content .container {
        display: flex;
        flex-direction: row;
        margin-left: 12vw;
        margin-right: 12vw;
    }

    #top_content .col {
        width: 440px;
    }


    #top_content .h2_1 {
        display: none
    }

    #top_content .h2_2 {
        display: block;

        font-size: 1.8rem;
        margin: 0px;
    }


    .white_backgrund {
        padding: 2vw;
    }

    .col_txt {
        padding: 2vw;
    }

    .pris {
        background-color: rgba(255, 255, 255, 0.69);
        padding: 1vw;

        width: 170px;


        margin-left: 15vw;
        ;
    }

    #top_content .pris p {
        margin-top: 0px;
    }

    #top_content .fragt {
        padding: 1vw;
    }

    #top_content .fragt .overskrift {
        margin-bottom: 0px;
    }

    #top_content .fragt p {
        margin-top: 0px;
    }

    button {
        padding: 1vw;
    }



    /************************ TOP_CONTENT SLUT ***************************/


    /************************ BOTTOM_CONTENT  ***************************/


    #bottom_content {
        max-width: 1200px;

    }

    #bottom_content .container {
        margin-left: 12vw;
        margin-right: 12vw;

    }

    #bottom_content h2 {
        margin-top: 2vw;
        margin-bottom: 0vw;

        justify-content: flex-start;
    }

    #bottom_content p {
        margin-top: 1vw;
        margin-bottom: 4vw;
    }

    /************************ BOTTOM_CONTENT  SLUT***************************/

}
