.img {
    object-fit: cover;
    width: 100%;
    max-height: auto;


}

/**************************** tatoveringer (mobil)*******************************/
.container {
    max-width: 200px;
    margin: auto;
}

#gallery_wall {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));

    column-gap: 2rem;
    grid-row-gap: 1rem;
}


#gallery_wall article:nth-child(6n+2) {
    grid-column: span 2;
    grid-row: span 2;
}

#gallery_wall img {
    border: solid white 10px;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

#gallery_wall img:hover {
    transform: scale(1.04);
    transition: transform 0.3s ease-in;
    cursor: pointer;
}

/**************************** tatoveringer(mobil) slut *******************************/


/*********************** detailje tatovering (mobil) ***************************/

#detalje {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: scroll;

    z-index: 10;

}

#detalje .button {
    font-size: 2rem;
    background: none;
    color: #ff2700;

    border: none;
    position: fixed;

    top: 1em;
    right: 1em;

    cursor: pointer;
}

#detalje .tatovering {
    width: 60vw;
    margin: auto;


}

#detalje img {
    border: none;

    margin-top: 7vw;
    margin-bottom: 7vw;
}


.skjul {
    display: none;
}


/*********************** detailje tatovering (mobil) slut ***************************/


@media only screen and (min-width: 600px) {

    .container {
        max-width: 1200px;
    }

    #gallery_wall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));

        grid-template-rows: repeat(auto-fill, minmax(160px, 1fr));


        column-gap: 2.2rem;
        grid-row-gap: 1rem;

        margin-left: 13vw;
        margin-right: 13vw;
    }

    #gallery_wall article:nth-child(5n+1) {
        grid-column: span 2;
        grid-row: span 2;
    }


    /*********************** detailje tatovering ***************************/



    #detalje .button {
        font-size: 3rem;

        top: 1.5em;
        left: 1.5em;
    }

    #detalje .tatovering {
        width: 38vw;
        margin: auto;


    }

    #detalje img {
        border: solid white 16px;
        margin-right: 3vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    /*********************** detailje tatovering slut ***************************/
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .container {
        max-width: 590px;

    }

    #gallery_wall img {
        border: solid white 6px;
    }

    #gallery_wall {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1.5fr));

        grid-auto-rows: repeat(auto-fill) 100px;

        grid-gap: 1.5rem;


    }


}
